@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

.modal-content {
    @apply gap-2 bg-white p-8 rounded-md shadow-lg ;
    max-width: 600px;
    max-height: 80vh;

  }
  
.modal-overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center;
  }
  
.close {
    @apply absolute top-0 right-0 m-4 cursor-pointer text-2xl;
  }